<div class="footer">
    <div class="contact">
        <p>
            <a href="http://andrewfeitlinger.com" target="_blank">http://andrewfeitlinger.com</a>
            <br />
            <a href="mailto:&#34;Andrew Feitlinger&#34;&#60;email@andrewfeitlinger.com&#62;" target="_blank">email@andrewfeitlinger.com</a>
        </p>
    </div>
    <div class="contact">
        <p>
            <a href="http://linkedin.com/in/andrewfeitlinger" target="_blank">http://linkedin.com/in/andrewfeitlinger</a>    
            <br />
            <a href="https://github.com/andrewfeitlinger" target="_blank">http://github.com/andrewfeitlinger</a>
        </p>
    </div>
</div>