<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="{{ site.name }}">

        <title>{{ page.title }}</title>

        <!-- CSS: Global Reset -->
        <link rel="stylesheet" href="/css/reset.css">

        <!-- CSS: Custom Formatting -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- CSS: Syntax Highlighting -->
        <link rel="stylesheet" href="/css/syntax.css">

    </head>

    <body>

        <div class="container">

            <div class="site">

                <div class="header">
                    <h1 class="title" title="home"><a href="/">{{ site.name }}</a></h1>
                    <a class="extra" href="/blog/">blog</a>
                    <a class="extra" href="/projects/">projects</a>
                    <a class="extra" href="/about/">about</a>
                </div>

                {{ content }}

                <div class="footer">
                    <div class="contact">
                        <p>
                            <a href="http://andrewfeitlinger.com" target="_blank">http://andrewfeitlinger.com</a>
                            <br />
                            <a href="mailto:&#34;Andrew Feitlinger&#34;&#60;email@andrewfeitlinger.com&#62;" target="_blank">email@andrewfeitlinger.com</a>
                        </p>
                    </div>
                    <div class="contact">
                        <p>
                            <a href="http://linkedin.com/in/andrewfeitlinger" target="_blank">http://linkedin.com/in/andrewfeitlinger</a>    
                            <br />
                            <a href="https://github.com/andrewfeitlinger" target="_blank">http://github.com/andrewfeitlinger</a>
                        </p>
                    </div>
                </div>

            </div> <!-- site -->

        </div> <!-- container -->

    </body>

</html>
